CompileFlags:
  Compiler: clang++
  Add: [-xc++, -Wall, -Wextra, -std=c++2c]
Index:
  StandardLibrary: Yes
Diagnostics:
  ClangTidy:
    Add: 
      - modernize*
      - bugprone-*
      - cppcoreguidlines-*
      - performance-*
      - readability-*
      - portability-*
    Remove:
      - modernize-use-trailing-return-type
      - modernize-use-std-print # <print> header is not widely supported yet
      - readability-magic-numbers
    FastCheckFilter: Loose
