CompileFlags:
  Compiler: clang++
  Add: [-xc++, -Wall, -Wextra, -std=c++2c]
Index:
  StandardLibrary: Yes
Diagnostics:
  ClangTidy:
    Add:
      - modernize*
      - bugprone-*
      - cppcoreguidelines-*
      - performance-*
      - readability-*
      - portability-*
    Remove:
      - modernize-use-trailing-return-type
      - modernize-use-std-print # <print> header is not widely supported yet
      - readability-magic-numbers
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-pro-bounds-avoid-unchecked-container-access
      - cppcoreguidelines-pro-type-union-access
      - bugprone-easily-swappable-parameters
      - readability-identifier-length
    FastCheckFilter: Loose
