[submodule "thirdparty/argparse"]
	path = thirdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "thirdparty/Choreograph"]
	path = thirdparty/Choreograph
	url = https://github.com/sansumbrella/Choreograph.git
