name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: update apt
      run: sudo apt-get update
    - name: upgrade apt
      run: sudo apt-get upgrade
    - name: packages
      run: sudo apt-get install libglm-dev libspdlog-dev libpangomm-2.48-dev libsdl2-dev libsdl2-image-dev libglew-dev clang make libgmock-dev google-mock libgtest-dev
    - name: make
      run: make
    - name: make test
      run: make test
